@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

.text-stroke{
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.47);
}
.bottom-120{
    bottom: 55%;
}
.-webkit-background-clip{
    -webkit-background-clip: text;
}
@keyframes bouncee {
0%, 100% {
    transform: translateY(-10px);
}
50% {
    transform: translateY(0);
}
}
#homeHero{
    height: calc( 100vh - 100px);
    transition: 0.5s;
}
header nav, header .logo, header .dark-mod{
    z-index: 1000000 !important;
    background: transparent;
}
.dark #homeHero{
    background-color: #191919;
    color: white;
}
.dark #homeHero button{
    background-color: #fff;
    color: #000;
}
#homeHero button{
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
}
#homeHero p{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-image: url('../assets/image/back-text-dark.jpg');
}
.waviy {
    position: relative;
    -webkit-box-reflect: below -20px linear-gradient(transparent, rgba(0,0,0,.2));
    font-size: 40px;
}
.waviy span {
    font-family: 'Alfa Slab One', cursive;
    position: relative;
    display: inline-block;
    color: #000;
    text-transform: uppercase;
    animation: waviy 2s infinite;
    animation-delay: calc(.1s * var(--i));
}
.dark .waviy span {
      color: #fff;
}
@keyframes waviy {
    0%,40%,100% {
      transform: translateY(0)
    }
    20% {
      transform: translateY(-20px)
    }
}
  
#homeHero .dark .p span {
    -webkit-text-stroke: 2px rgba(0, 0, 0, 0.97);
}
#homeHero .dark button{
    color: black;
    background-color: white;
}
#homeHero .text_hello_parent{
    height: 40vh;
}
header .mnMobile{
    display: none;
}
.text_hello_parent{
    position: relative;
    z-index: 10000 !important;
}
@media screen and (max-width : 1200px) {
    #cursor{
        display: none !important;
    }
    .waviy {
        font-size: 30px;
    }
    header .menu_pc{
        display: none;
    }
    header .mnMobile{
        display: block;
    }
    #homeHero{
        display: grid;
        grid-template-columns: 50% 50%;
        padding: 10px;
    }
    #homeHero button{
        font-size: 12px;
        width: 150px ;
        padding: 10px 10px;
        border-top-left-radius: 30px;
        border-bottom-right-radius: 30px;
    }
    #homeHero .hello_text{
        font-size: 220%;
    }
    #homeHero .text_hello_parent{
        height: 30vh;
    }
    #homeHero .my_photo img{
        width: 100%;
    }
    header .logo{
        width: 15%;
    }
    header {
        padding: 5px !important;
    }
    header .menu_mobil li{
        color: black !important;
    }
    header .menu_mobil{
        width: 150px;
        display: grid !important;
        position: absolute;
        right: 10px;
        top: 80px;
        place-items: center;
        background-color: white;
        padding: 10px;
        border-radius: 8px;
        z-index: 100;
        box-shadow: 0px 0px 20px rgba(26, 26, 26, 0.487);
    }
}
@media screen and (max-width : 515px) {
    .mobil_text{
        margin-top: 30px;
    }
    .waviy {
        font-size: 20px;
    }
    #homeHero{
        padding: 6px;
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-end;
        gap: 20px;
    }
    #homeHero .hello_text{
        font-size: 30px;
    }
    #homeHero .text_hello_parent{
        height: 10vh;
    }
    #homeHero .my_photo img{
        width: 80%;
    }
    header .logo{
        width: 30%;
    }
    
    
}